* {
  margin: 0;
  padding: 0;
}

button {
  padding: 12px 24px;
  background-color: #006d8b;
  border-radius: 12px;
  border-style: none;
  color: white;
}

button:hover {
  background-color: #003443;
}

.quote {
  border: solid 1px grey;
  margin: 12px;
  padding: 24px;
  background-color: #acedff;
  border-style: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 800;
  font-size: 3em;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(59, 59, 59);
  font-weight: 500;
  font-size: 1.5em;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(59, 59, 59);
  font-weight: 500;
  font-size: 1em;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1em;
}
